.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/__sapper__/
/bubblewrap/.gradle/
/bubblewrap/app/
/bubblewrap/gradle/
bubblewrap/app-release-bundle.aab

bubblewrap/app-release-unsigned-aligned.apk

bubblewrap/build.gradle

bubblewrap/gradle.properties

bubblewrap/gradlew

bubblewrap/gradlew.bat

bubblewrap/settings.gradle

bubblewrap/store_icon.png
